{%  include "layout.html" %}
<script src="../static/1980.js"></script>

 <div class="container">
    {%  block content %}
    {%  endblock %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center">
            <h3> What do you want to contribute?</h3>
                <select class="form-control" name="explore" onchange="location = this.options[this.selectedIndex].value;">
                     <option value="/contribute">Pick one</option>
                     <option value="/contribute_band">Bands</option>
                     <option value="/contribute_record">Record</option>
                     <option value="/contribute_song">Songs</option>
                    </select>
            </div>
            <br><br>
            </div>
        </div>
     </div>
 </div>