{% extends "explore.html" %}
{% block content %}
<div class="container">
        <div class="jumbotron">
            <table class="table">
            	<thead>
                <tr>
                	<th>Band</th>
                	<th>Start Year</th>
                	<th>End Year</th>
                    <th>Genre</th>
                	<th>Records</th>
                	<th>Songs</th>
                </tr>
                </thead>
                {% for band in data %}
                <tr>
                	<td>{{band['band_name']}}</td>
                	<td>{{band['start_year']}}</td>
                	<td>{{band['end_year']}}</td>
                    <td>{{band['genre']}}</td>
                	<form method="POST" action="records/{{band['band_name']}}">
                	<td><button type="submit" class="btn btn-default">Records</button></td>
                	</form>
                	<form method="POST" action="songs/{{band['band_name']}}">
                	<td><button type="submit" class="btn btn-default">Songs</button></td>
                	</form>
                     {% if current_user.is_admin %}
                        <form method="POST" action="remove_band/{{band['band_name']}}">
                            <td><button type="submit" class="btn btn-default">Remove</button></td>
                        </form>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}