{% extends "explore.html" %}
{% block content %}
<div class="container">
        <div class="jumbotron">
            <h3>Records by {{data['band_name']}}</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Band</th>
                    <th>Record</th>
                    <th>Release Date</th>
                    <th>End Year</th>
                    <th>Records</th>
                </tr>
                </thead>
                {% for record in records %}
                <tr>
                    <td>{{band['band_name']}}</td>
                    <td>{{band['record_title']}}</td>
                    <td>{{band['end_year']}}</td>
                    <td>{{data['genre']}}</td>
                    <form method="POST" action="records/{{band['band_name']}}">
                    <td><button type="submit" class="btn btn-default">Records</button></td>
                    </form>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}