{% extends "explore.html" %}
  {% block content %}

    <div class="container">
        <div class="jumbotron">
          <h2>Explore bands! <small>All fields are optional</small></h2>
          <form method="POST" action="{{ url_for('band_submit') }}">
            <table>
                <tr>
              <!--       <td><label>Band Name</label><input type="text" name="band" placeholder="Devo"></td> -->
                </tr>
                <tr>
                    <td><label>Start Year</label><input type="text" name="start" placeholder="1971"></td>
                    <td><label>End Year</label><input type="text" name="end" placeholder="1991"></td>
                </tr>
                <tr>
                    <td><label>Genre</label>
                        <select name="genre">
                            <option value="Rock">Rock</option>
                            <option value="Hip Hop">Hip Hop</option>
                            <option value="New Wave">New Wave</option>
                            <option value="Pop">Pop</option>
                            <option value="Punk">Punk</option>
                            <option value="Metal">Metal</option>
                        </select></td>
                </tr>
                <tr><td><label>Label</label><input type="text" name="label" placeholder="Warner"></td></tr>
            </table>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
    </div>
{% endblock %}
