{% extends "explore.html" %}
{% block content %}
<div class="container">
        <div class="jumbotron">
            <h3>Records by {{data['band_name']}}</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Record Title</th>
                    <th>Date</th>
                    <th>Genre</th>
                </tr>
                </thead>
                {% for record in records %}
                <tr>
                    <td>{{record['record_title']}}</td>
                    <td>{{record['release_date']}}</td>
                    <td>{{data['genre']}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}