<html lang="en"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1980</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.css">
    <script type="text/javascript" src="/static/1980.js"> </script>

    {#<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>#}
    <!-- more css -->
  </head>

  <body>

    <div class="site-wrapper">
      <nav id="nav" class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="">1980 Music Database</a>
        </div>
        <div class="container">
          <ul class="nav navbar-nav">
            {% if current_user.is_active() %}
            <li class = "menuitem"><a href="/">Explore</a></li>
            {% endif %}
            {% if current_user.is_admin %}
            <li class = "menuitem"><a href="/contribute">Contribute</a></li>
            <li class = "menuitem"><a href="/remove">Remove</a></li>
            {% endif %}
            {% if current_user.is_active() and current_user.is_authenticated() %}
            <li class = "menuitem"><a href="/logout">Log Out</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-right">
           {% if current_user.is_active() and current_user.is_authenticated() %}
           <li class = "menuitem"><a>Welcome {{current_user.name}}</a></li>
          {% endif %}
          </ul>

            
        
        </div>
      </nav>
    {% block content %}
    {% endblock %}

    </div>
  </body>